<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MoGenerator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SimpleData_2.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>493AADCB1C2055C200A941CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>493AADE71C2055C200A941CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>493AADF21C2055C200A941CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49D2D9271C232BFB00372BB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
